
$main-color: #432adf;
$heading-color: #231c4d;
$text-color: #4c466d;
$caption-color: #aaa8b9;

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 800;

$heading-large: 80px;
$heading-normal: 70px;
$heading-sub: 18px;
$body-text: 16px;
$caption: 14px; 

$text-margin: 3rem;
$block-margin: 16rem;
